.grid_7.post.alpha.omega{:id => "comment_#{comment.id}"}

  .grid_1.alpha{:style => "text-align: center;"}
    - if current_user
      = link_to image_tag(current_user.votes.any? {|v| v.votable_id == comment.id && v.value > 0} ? 'vote-up-selected.jpg' : 'vote-up.jpg'), vote_up_comment_path(comment), :class => 'vote'
      .vote_count{:style => "font-size: 14px; font-weight: bold;"}
        = comment.vote_score
      = link_to image_tag(current_user.votes.any? {|v| v.votable_id == comment.id && v.value < 0} ? 'vote-down-selected.jpg' : 'vote-down.jpg'), vote_down_comment_path(comment), :class => 'vote'
    - else
      = link_to image_tag('vote-up.jpg'), login_url
      .vote_count{:style => "font-size: 14px; font-weight: bold;"}
        = comment.vote_score
      = link_to image_tag('vote-down.jpg'), login_url

  %b
    =h comment.user.username if comment.user    
  %br/
  =h comment.text
  %br/
  = link_to 'Comment', '#', :class => "comment"
  %br/
  .comment_form
    - form_for [comment, Comment.new] do |f|
      = f.hidden_field :id, :value => comment.id
      = f.label 'Comment'
      %br/
      = f.text_area :text, :style => "height: 50px;"
      %br/
      = f.submit 'Submit', :class => 'button'
  - if comment.comments
    = render :partial => 'posts/comment', :collection => comment.comments
.clear