- form_for @post do |f|
  -if @post.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg
  :javascript
    $(document).ready(function() {
    $("input#post_category").autocomplete({
    
    source: #{@cat_names}
    
    });
    });
  .post_nav
    .i
      = link_to 'Link ', '#', :class => 'text_link_toggle' 
    .i
      \&nbsp;or&nbsp;
    .i
      = link_to ' Rant', '#', :class => 'text_link_toggle'
  %br/
  .field_container.grid_6.alpha
    .field{:style => "visibility: hidden;"}
      = f.check_box :is_link, :checked => true
    .field
      = f.label :name, 'Title'
      %br/
      = f.text_field :name
    .field.text_link
      = f.label :url, 'Website Link'
      %br/
      = f.text_field :url
      -#
        .field
          = f.label :thumb_preview, 'Choose a Preview Image'
          %br/
          #load_images
        .clear
    
    .field.text_link{:style => "display: none;"}
      = f.label :text
      %br/
      = f.text_area :text
    .field
      = f.label :category, 'Choose A Topic'
      %br/
      .grid_4.alpha
        - for category in Category.all
          .category-choice
            = f.radio_button(:category, "#{category.name}", :style => "display: none;")
            = f.label "category_" + category.name, "#{category.name}"
    .clear
    %br/
    
    .actions
      = f.submit 'save', :class => 'button'
      
.clear
