= form_for @post do |f|
  -if @post.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg
  :javascript
    $(document).ready(function() {
    $("input#post_category").autocomplete({
    
    source: #{@cat_names}
    
    });
    });

  -#.field
    = f.label :type
    = f.check_box :type
  .field
    = f.label :name, 'Title'
    %br/
    = f.text_field :name
  .field
    = f.label :url, 'Website Link'
    %br/
    = f.text_field :url
  .field
    = f.label :text
    %br/
    = f.text_area :text
  .field
    = f.label :category
    %br/
    = f.text_field :category
  .actions
    = f.submit 'Save'
