.grid_8.alpha.omega.post{:id => "post_#{post.id}"}
  .grid_1.alpha{:style => "text-align: center;"}
    - if current_user
      = link_to image_tag(current_user.votes.any? {|v| v.votable_id == post.id && v.value > 0} ? 'vote-up-selected.jpg' : 'vote-up.jpg'), vote_up_post_path(post), :class => 'vote'
      .vote_count{:style => "font-size: 14px; font-weight: bold;"}
        = post.vote_score
      = link_to image_tag(current_user.votes.any? {|v| v.votable_id == post.id && v.value < 0} ? 'vote-down-selected.jpg' : 'vote-down.jpg'), vote_down_post_path(post), :class => 'vote'
    - else
      = link_to image_tag('vote-up.jpg'), login_url
      .vote_count{:style => "font-size: 14px; font-weight: bold;"}
        = post.vote_score
      = link_to image_tag('vote-down.jpg'), login_url    
  .grid_6
    .post_title
      - if post.is_link
        = link_to "#{post.name}", post.url
      - else
        = link_to "#{post.name}", post_path(post)
    - if post.is_link
      |
      (
      = link_to "#{post.is_a_sexy_link}", post.url
      )
    .clear
    Submitted
    = post.time_from_now
    ago by
    = link_to "#{post.user.username}", user_posts_path(post.user)
    to
    = link_to "#{post.category}", ''
    %br/
    = link_to "#{Comment.find(:all, :conditions => ["post_parent_id = ?",post.id]).size} Comments", post_path(post)
    = link_to 'Show', post
    - if current_user == User.find(params[:user_id])
      = link_to 'Edit', edit_post_path(post)
      = link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete