%h1 Listing posts

%table
  %tr
    %th Type
    %th Name
    %th Url
    %th Text
    %th Category
    %th
    %th
    %th

  - @posts.each do |post|
    %tr
      %td= post.type
      %td= post.name
      %td= post.url
      %td= post.text
      %td= post.category
      %td= link_to 'Show', post
      %td= link_to 'Edit', edit_post_path(post)
      %td= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New post', new_post_path
