%h1
%br
%p
  - @posts.each do |post|
    %b
      = post.name
    %br/
    = post.url
    %br/
    = post.text
    %br/
    = post.category
    %br/
    = link_to 'Show', post
    = link_to 'Edit', edit_post_path(post)
    = link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete
    %br/

%br

= link_to 'New post', new_post_path
