%p
  %b Name:
  = @post.name
%p
  - if @post.is_link == true
    %b Url:
    = link_to @post.is_a_sexy_link, @post.url
  - else
    %b Text:
    = @post.text
  
.clear
.grid_7
- form_for @post do |f|
  - f.fields_for :comments, @comment, :url => edit_post_path(@post) do |c|
    = c.label 'Comments'
    %br/
    = c.text_area :text, :style => "height: 100px;"
    %br/
    = c.submit 'Submit'
.clear
%br/
%p
  Things people say :
.clear
.grid_7
  - for comment in @comments
    .grid_7.post.alpha.omega
      = comment.text
    .clear


=# TODO : Make these options applicable only for the current_user == post.users
=# link_to 'Edit', edit_post_path(@post)
=# link_to 'Delete', post_path(@post), :method => :delete

