%p
  - if @post.is_link
    .headline
      =h link_to @post.name, @post.url
    - if @post.is_a_sexy_link == "www.youtube.com"
      .grid_1.alpha{:style => "width: 20px;"}
        = link_to '', '#', :class => "play_movie"
    .grid_5
      %p
        Posted by
        = link_to User.find(@post.user.id).username, user_posts_path(@post.user)
        (
        = @post.time_from_now + " ago"
        )
      
  - else
    .headline
      =h @post.name
    .grid_5
      =h "#{'Posted by ' + User.find(@post.user.id).username}"
      (
      = @post.time_from_now + " ago"
      )
    %br/
    %p
      =h raw RedCloth.new(@post.text).to_html
      
  .grid_5.movie_container{:style => "display: none;"}
    %object{ :width => "480", :height => "385"}
      %param{ :name => "movie", :value => "#{@post.tube_url}&amp;hl=en_US"}
      %param{ :name => "allowFullScreen", :value => "true"}
      %param{ :name =>"allowscriptaccess", :value => "always"}
      %embed{ :src => "#{@post.tube_url}", :type => "application/x-shockwave-flash", :allowscriptaccess => "always", :allowfullscreen => "true", :width => "480", :height => "385" }
  
.clear
.grid_7
- form_for [@commentable, Comment.new] do |f|
  =h f.label :text, 'Comment'
  %br/
  =h f.text_area :text, :style => "height: 100px;"
  %br/
  = f.submit "Submit", :class => 'button'
.clear
%br/
- if @post.comments.count > 0
  %p
    Comments
.clear
.grid_7
  = render :partial => 'comment', :collection => @comments


=# TODO : Make these options applicable only for the current_user == post.users
=# link_to 'Edit', edit_post_path(@post)
=# link_to 'Delete', post_path(@post), :method => :delete

